
.board {
    font-family: 'Open Sans', sans-serif;
    height: 450px;
    width: 450px;
    margin: 50px auto 30px auto;
    overflow: hidden;
    position: relative;
}

.end {
    background: rgba(255, 255, 255, 0.8);
    bottom: 5px;
    color: #3d4250;
    display: none;
    left: 5px;
    padding-top: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: center;
    z-index: 11;
}

.end h2 {
    font-size: 36px;
    margin-top: 150px;
}

.cell {
    background-color: white;
    cursor: pointer;
    color: black;
    height: 140px;
    font-size: 70px;
    float: left;
    width: 140px;
    z-index: 1;
    border: solid 1px black;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #3d4250;
}

.cell:hover .fa {
    opacity: .4;
}

.cell-X, .cell:hover.cell-X {
    background-color: #dc685a;
    cursor: not-allowed;
}


.cell-O, .cell:hover.cell-O {
    background-color: #ecaf4f;
    cursor: not-allowed;
}

.cell .fa {
    margin: 35px 0 0 40px;
    opacity: 0;
}

.cell-X .fa, .cell-O .fa, .cell-X:hover .fa, .cell-O:hover .fa {
    opacity: 1;
}